* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    width: 100%;
    font-family: Arial;
    height: 200vh;
    background: linear-gradient(black, darkred, red);
    color: whitesmoke;
}

.text1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 5px;
}

.text3 {
    background: whitesmoke;
    margin-left: 10px;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
}

.text4 {
    background: whitesmoke;
    margin-left: 10px;
    border-radius: 20px;
    padding-bottom: 40px;
    padding: 10px;
    text-decoration: none;
}

.text5 {
    background: whitesmoke;
    margin-left: 10px;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;

}

.text6 {
    background: whitesmoke;
    margin-left: 10px;
    border-radius: 20px;
    padding: 10px;
    color: black;
    text-decoration: none;

}