* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3,5rem;
}

h3 {
    font-size: 3rem;
}

body {
    width: 100%;
    font-family: Arial;
    height: 200vh;
    background: linear-gradient(black, darkred, red);
    color: whitesmoke;
}

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 5px;
}

.text3 {
        background: whitesmoke;
        margin-left: 10px;
}

.text4 {
        background: whitesmoke;
}

.text5 {
        background: whitesmoke;
}

.text6 {
        background: whitesmoke;
        margin-right: 10px;
}