* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: Arial;
    height: 200vh;
    background: linear-gradient(black, darkred, red);
    color: whitesmoke;
}

.button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: whitesmoke;
    gap: 5px;
}